/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}

/* Header */
header {
    background-color: #007CBD;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2rem;
}

.header-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* Contenu principal */
main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

section h2 {
    font-size: 1.5rem;
    color: #007CBD;
    margin-bottom: 0.5em;
}

#programme ul,
#rubriques ul {
    list-style-type: none;
}

#programme ul li {
    background-color: #EAF8FD;
    padding: 1em;
    margin: 0.5em 0;
    border-left: 5px solid #007CBD;
}

#infos-pratiques p {
    margin: 0.5em 0;
}

/* Navigation - Rubriques */
nav#rubriques ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

nav#rubriques ul li {
    flex: 1 1 calc(50% - 10px);
    background-color: #f4f4f9;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav#rubriques ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Galerie */
.gallery {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.gallery h2 {
    color: #007CBD;
    margin-bottom: 10px;
}

.gallery p {
    color: #333;
    margin-bottom: 20px;
}

/* Grille de la galerie */
.gallery-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0 20px;
}

.gallery-item {
    border: 1px solid #007CBD;
    padding: 5px;
    background-color: #EAF8FD;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Conteneur des miniatures */
.thumbnail-container {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAF8FD;
    border-radius: 5px;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Description des images */
.image-description {
    margin-top: 5px;
    font-size: 14px;
    color: #007CBD;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #007CBD;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
    margin-top: 20px;
}
